[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group moderator
	create = group moderator
	forgeAuthor = group moderator
	forgeCommitter = group moderator
	forgeServerAsCommitter = group moderator
	label-Code-Review = -2..+2 group moderator
	label-Verified = -1..+1 group moderator
	push = group moderator
	pushMerge = group moderator
	read = group moderator
	removeReviewer = group moderator
	submit = group moderator
